@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 540px;
}
.main textarea[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  width: 100%;
  max-width: 540px;
  line-height: 1.6;
  font-weight: bold;
  margin-top: 40px;
  white-space: pre-wrap;
}
.main .typing {
  position: relative;
  top: 3px;
  margin-left: 3px;
  display: inline-block;
  width: 3px;
  height: 1em;
  background-color: #353740;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

.main pre {
  font-family: "D2Coding", "ColfaxAI", Helvetica, sans-serif;
  font-weight: 500;
  /* background: #f3f3f3; */
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.main pre > code {
  background: transparent;
}

.main code {
  font-family: "D2Coding", "ColfaxAI", Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #eee;
  padding: 0.15rem 0.25rem;
  border-radius: 0.3rem;
}

.main .response {
  width: 100%;
}

.main .question {
  width: 100%;
}

.main .bot-tag {
  width: fit-content;
  margin-top: 1rem;
  margin-right: auto;
  border: 1px solid #10a37f;
  padding: 0.2rem 0.7rem;
  border-radius: 1rem;
  font-size: 0.9em;
}

.main .question-text {
  margin: 1rem 0;
}

.main .loader {
  color: #10a37f;
  animation: loader 2s infinite;
}

@keyframes loader {
  50% {
    opacity: 0;
  }
}

.main .chat-area {
  width: 100%;
  /* max-height: 600px;
  overflow-y: auto; */
  /* -ms-overflow-style: none; 
  scrollbar-width: none;  */
}

.main .chat-area::-webkit-scrollbar {
  /* display: none; */
}
